<body>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Welcome to Rola</h1>
    <div class="row center">
      <h5 class="header col s12 light">The best place to find design agencies and development firms for hire. The web is your Rolodex.</h5>
    </div>
    <div class="row center">
      <%= link_to "Sign In", new_user_session_path, id: "download-button", class: "btn-large waves-effect waves-light orange" %>
      <%= link_to "Sign Up", new_user_registration_path, id: "download-button", class: "btn-large waves-effect waves-light" %>
      <%= link_to "Write a Review", new_company_path, id: "download-button", class: "btn-large waves-effect waves-light purple" %>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Read reviews on real customer experiences and transactions. Submit proposals and vet several firms. View recent work, ratings and make smarter decisions. Interact with the companies before you make your final decision. Send payments and manage projects.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
